body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/source/7cac90200363261.6661208dd080d.gif);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
nav{
    background-color: rgb(59, 108, 205);
    padding: 10px;
    text-align: center;
}
nav a
{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover
{
    background-color: blueviolet;
    transition: 0.5s ease;
}

/* Estilização conteudo do site */

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    max-width: 1200px;
    width: 100%;
}
@media (min-width: 600px){
    .content{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1024px){
    .content{
        padding: 40px;
    }
}

h2{
    text-decoration: underline overline #000000;
}